/*
author: MhrSifat
author url: MhrSifat.xyz
version: 0.1
*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

.no-underline {
  text-decoration: none !important;
}